<div class="site-footer">
    <div class="footer-top">
        <div class="footer-logo">
            <img src="https://production.autoforce.com/uploads/group/logo/1814/logo_webp_comprar-dealer-seminovos_0759c60cac.png.webp" alt="Logo" />
            <div class="social-icons">
                <%= link_to "https://www.facebook.com/AutoForcebr/?locale=pt_BR" do %>
                    <i class="fab fa-facebook-f"></i>
                <% end %>
                <%= link_to "https://www.instagram.com/autoforcebr/" do %>
                    <i class="fab fa-instagram"></i>
                <% end %>
                <%= link_to "https://www.youtube.com/channel/UCLI4tg1oh_oLiJJteExJdUQ" do %>
                    <i class="fab fa-youtube"></i>
                <% end %>
            </div>
        </div>

        <div class="footer-contact">
            <h3>Tem alguma dúvida?<br><strong>Fala com a gente</strong></h3>
            <div id="button"></div>
        </div>

        <ul class="nav-links" style="flex-direction: column;">
            <h3>Links rápidos</h3>
            <li><%= link_to "Semi Novos", seminovos_path %></li>
            <li><%= link_to "Quem Somos", quemsomos_path %></li>
            <li><%= link_to "Fale Conosco", root_path %></li>
        </ul>
    </div>

    <hr />

    <div class="footer-bottom">
        <p><strong>CNPJ:</strong> 22.588.947/0001-06 - Endereço Matriz: Av. Amintas Barros, 3700 - Torre Business - Sala 2506 - Lagoa Nova - Natal-RN</p>
        <p>Esse site foi desenvolvido com a tecnologia <strong>Autódromo</strong> feita pela <img src="https://production.autoforce.com/uploads/group/logo/1814/logo_webp_comprar-dealer-seminovos_0759c60cac.png.webp" alt="Autoforce" height="20" /></p>
    </div>
</div>