<div class="slider">
  <h2>Formulário de Contato</h2>
  <div class="slides">
    <%= form_with(url: root_path, method: :post, local: true, id: 'contatoForm') do |form| %>
      <div>
        <%= form.label :nome, "Nome:" %><br />
        <%= form.text_field :nome, id: 'nome' %>
      </div>

      <div>
        <%= form.label :email, "Email:" %><br />
        <%= form.text_field :email, id: 'email' %>
      </div>

      <div>
        <%= form.label :mensagem, "Mensagem:" %><br />
        <%= form.text_area :mensagem, id: 'mensagem', rows: 2 %>
      </div>

      <%= form.submit 'Enviar' %>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById('contatoForm');
    form.addEventListener('submit', function(event) {
      alert('Mensagem enviada com sucesso!');
    });
  });
</script>
