<div class="slider">
  <div class="slides">
    <%= image_tag "https://production.autoforce.com/bns/index_bns/000/027/283/fill_1500_550/banner_2.png?1725680071", class: "slide" %>
    <%= image_tag "https://production.autoforce.com/uploads/banner/image/89082/full_comprar-dealer-seminovos_2fda77315e.jpeg.webp", class: "slide" %>
    <%= image_tag "https://production.autoforce.com/uploads/banner/image/27296/full_comprar-dealer-seminovos_7f8b1e1f3b.jpg.webp", class: "slide" %>
  </div>

  <%= button_tag class: 'nav prev', onclick: 'nextSlide(-1)' do %>
    <i class="fa-solid fa-less-than"></i>
  <% end %>

  <%= button_tag class: 'nav next', onclick: 'nextSlide(1)' do %>
    <i class="fa-solid fa-greater-than"></i>
  <% end %>
</div>

<div class="car-list">
  <div class="car-card">
    <%= image_tag "https://production.autoforce.com/uploads/used_model/profile_image/23703300/model_middle_webp_comprar-corolla-xei-2-0-aut-2087_96b3644fde.jpg.webp", class: "car-image" %>

    <div class="car-info">
      <h3>Creta</h3>
      <p class="subtitle">XEI 2.0 AUT</p>
      <p class="price">R$ 129.900,00</p>

      <div class="car-details">
        <span><i class="fas fa-road"></i> 42200km</span>
        <span><i class="fas fa-cogs"></i> Automático</span>
        <span><i class="fas fa-calendar-alt"></i> 2019 / 2020</span>
      </div>
    </div>
  </div>

  <div class="car-card">
    <%= image_tag "https://s2-autoesporte.glbimg.com/i0O1yi_6c90oHONkFtOj4aEDqlE=/0x0:620x413/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_cf9d035bf26b4646b105bd958f32089d/internal_photos/bs/2020/9/Q/p2UPAET4SlPKgBEPO09w/2018-01-18-hyundai-veloster-n-2019-3.jpg", class: "car-image" %>

    <div class="car-info">
      <h3>Veloster</h3>
      <p class="subtitle">1.6 16v AUT</p>
      <p class="price">R$ 75.000,00</p>

      <div class="car-details">
        <span><i class="fas fa-road"></i> 23600km</span>
        <span><i class="fas fa-cogs"></i> Automático</span>
        <span><i class="fas fa-calendar-alt"></i> 2012 / 2013</span>
      </div>
    </div>
  </div>

  <div class="car-card">
    <%= image_tag "https://production.autoforce.com/uploads/used_model/profile_image/23703339/model_middle_webp_comprar-creta-2-0-16v-flex-prestige-automatico-2087_51ce3c9e8f.jpg.webp", class: "car-image" %>

    <div class="car-info">
      <h3>Creta</h3>
      <p class="subtitle">2.0 16V FLEX PRESTIGE AUT</p>
      <p class="price">R$ 89.900,00</p>

      <div class="car-details">
        <span><i class="fas fa-road"></i> 99000km</span>
        <span><i class="fas fa-cogs"></i> Automático</span>
        <span><i class="fas fa-calendar-alt"></i> 2018 / 2019</span>
      </div>
    </div>
  </div>
</div>

<div class="car-list">
  <div class="car-card">
    <%= image_tag "https://production.autoforce.com/uploads/used_model/profile_image/23703304/model_middle_webp_comprar-hb20s-1-0-unique-12v-flex-4p-manual-2087_86535afaa3.jpg.webp", class: "car-image" %>

    <div class="car-info">
      <h3>Creta</h3>
      <p class="subtitle">Platinum 1.0 TB 12V Flex Aut.</p>
      <p class="price">R$ 145.900,00</p>

      <div class="car-details">
        <span><i class="fas fa-road"></i> 15763km</span>
        <span><i class="fas fa-cogs"></i> Automático</span>
        <span><i class="fas fa-calendar-alt"></i> 2021 / 2022</span>
      </div>
    </div>
  </div>

  <div class="car-card">
    <%= image_tag "https://production.autoforce.com/uploads/used_model/profile_image/23703299/model_middle_webp_comprar-hb20-1-0-evolution-mt-2087_345d1e9feb.jpg.webp", class: "car-image" %>

    <div class="car-info">
      <h3>HB20</h3>
      <p class="subtitle">Confort Style 1.0 Flex</p>
      <p class="price">R$ 89.900,00</p>

      <div class="car-details">
        <span><i class="fas fa-road"></i> 62000km</span>
        <span><i class="fas fa-cogs"></i> Automático</span>
        <span><i class="fas fa-calendar-alt"></i> 2017 / 2017</span>
      </div>
    </div>
  </div>

  <div class="car-card">
    <%= image_tag "https://production.autoforce.com/uploads/used_model/profile_image/23703342/model_middle_webp_comprar-hb20-comfort-style-1-0-flex-2087_f883423376.jpg.webp", class: "car-image" %>

    <div class="car-info">
      <h3>HB20</h3>
      <p class="subtitle">PULSE 1.6 AUTOMATICO</p>
      <p class="price">R$ 79.900,00</p>

      <div class="car-details">
        <span><i class="fas fa-road"></i> 61000km</span>
        <span><i class="fas fa-cogs"></i> Automático</span>
        <span><i class="fas fa-calendar-alt"></i> 2017 / 2018</span>
      </div>
    </div>
  </div>

</div>


<!-- Script do carrossel de imagens -->
<script>
  let index = 0;

  function showSlide(i) {
    const slides = document.querySelectorAll(".slide");
    slides.forEach(slide => slide.style.display = "none");
    slides[i].style.display = "block";
  }

  function nextSlide(n) {
    const slides = document.querySelectorAll(".slide");
    index = (index + n + slides.length) % slides.length;
    showSlide(index);
  }

  // Inicia o carrossel
  document.addEventListener("DOMContentLoaded", () => {
    const slides = document.querySelectorAll(".slide");
    showSlide(index);

    setInterval(() => {
      nextSlide(1);
    }, 5000); // Troca a cada 5 segundos
  });
</script>

